body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.bg-yellow-custom {
    background-color: #ffde25 !important;
}

.text-black-custom {
    color: black !important;
    border-radius: 10px;
    transition: 0.3s;
}

.text-black-custom:hover {
    background-color: #f7bd00b1 !important;
    border-radius: 15px;
    transition: 0.5s;
}

.hover-shadow:hover {
    box-shadow: 3px 3px black !important;
}
