:root {
    /* Color */
    --primary-container: #ffde25;
    --secondary-container: #ede2bc;
    --tertiary-container: #d1e4ff;
    --background: #fefbff;
    --surface: #fffbff;
    --surface-variant: #e9e2d0;
    --white: #ffffff;
    --black: #1e1e1e;

    /* Shape */
    --rounded: 50px;

    /* Spacing */
    --space-small: 8px;
    --space-medium: 16px;
}

/* Main */
.chat_main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.chat_header {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    padding: var(--space-small) var(--space-medium);
    background-color: var(--primary-container);
}

/* Header left */
.chat_header_left {
}

/* Header center */
.chat_header_center {
    display: flex;
    flex: 10;
    flex-direction: row;
    column-gap: var(--space-medium);
    align-items: center;
}

.chat_header_profile_picture {
    width: 24px !important;
    height: 24px !important;
    padding: var(--space-small);
    background-color: var(--white);
}

/* Header right */
.chat_header_right {
}

/* Body */
.chat_body {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--background);
}

.profile_avatar {
    padding: 5px;
    background-color: var(--white);
}

/* Chat message */
.chat_message {
    display: flex;
    border-radius: var(--rounded);
    width: fit-content;
    padding: 0 var(--space-medium);
    margin: var(--space-small);
    background-color: var(--surface-variant);
}

.chat_message_content {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-small);
    align-items: center;
}

.chat_message_content > .chat_message_profile_picture {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.chat_message_sender {
    margin-left: auto;
    background-color: var(--tertiary-container);
}

.chat_message_timestamp {
    align-self: end;
    font-size: small;
    color: black;
    opacity: 60%;
}

.chat_date {
    display: flex;
    align-self: center;
    border-radius: var(--rounded);
    width: fit-content;
    padding: 0 var(--space-medium);
    margin: var(--space-small);
    background-color: var(--surface-variant);
    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); */
}

.chat_date_content {
    font-size: small;
}

/* Chat Image */
.chat_image {
    display: flex;
    border-radius: 16px;
    height: 200px;
    width: fit-content;
    padding: var(--space-medium);
    margin: var(--space-small);
    background-color: whitesmoke;
}

.chat_image_receiver {
    margin-left: auto;
    background-color: var(--tertiary-container);
}

/* Footer */
.chat_footer {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-small);
    align-items: center;
    padding: var(--space-small) var(--space-medium);
    background-color: var(--surface);
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
}

.chat_footer_center {
    display: flex;
    flex: 10;
    row-gap: var(--space-small);
}

.chat_footer_center > form {
    display: flex;
    flex: 1;
}

.chat_footer_center > form > input {
    flex: 1;
    border-radius: 32px;
    border-color: var(--black);
    padding: var(--space-small) var(--space-medium);
}

.chat_footer_right {
}