:root {
    --base-yellow: #ffde25;
    --light-green: #dcf8c6;
    --white: #ffffff;
    --black: #1e1e1e;
}

/* Main */
.chat_main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.chat_header {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--base-yellow);
}

/* Header left */
.chat_header_left {
}

/* Header center */
.chat_header_center {
    display: flex;
    flex: 10;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
}

.chat_header_profile_picture {
    background-color: var(--white);
    padding: 8px;
}

/* Header right */
.chat_header_right {
}

/* Body */
.chat_body {
    display: flex;
    flex: 10;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--white);
}

.profile_avatar {
    padding: 5px;
    background-color: var(--white);
}

/* Chat message */
.chat_message {
    display: flex;
    border-radius: 16px;
    width: fit-content;
    padding: 0 16px;
    margin: 8px;
    background-color: whitesmoke;
}

.chat_message_content {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
}

.chat_message_content > .chat_message_profile_picture {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.chat_message_receiver {
    margin-left: auto;
    background-color: var(--light-green);
}

.chat_message_timestamp {
    align-self: end;
    font-size: small;
    color: black;
    opacity: 60%;
}

.chat_date {
    display: flex;
    align-self: center;
    border-radius: 16px;
    width: fit-content;
    padding: 0 16px;
    margin: 8px;
    background-color: whitesmoke;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.chat_date_content {
    font-size: small;
}

/* Chat Image */
.chat_image {
    display: flex;
    border-radius: 16px;
    height: 200px;
    width: fit-content;
    padding: 16px;
    margin: 8px;
    background-color: whitesmoke;
}

.chat_image_receiver {
    margin-left: auto;
    background-color: var(--light-green);
}

/* Footer */
.chat_footer {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--base-yellow);
}

.chat_footer_center {
    display: flex;
    flex: 10;
    row-gap: 8px;
}

.chat_footer_center > form {
    display: flex;
    flex: 1;
}

.chat_footer_center > form > input {
    flex: 1;
    border-radius: 32px;
    border-color: var(--black);
    padding: 8px 16px;
}

.chat_footer_right {
}