:root {
    /* Color */
    --primary-container: #ffde25;
    --secondary-container: #ede2bc;
    --tertiary-container: #d1e4ff;
    --background: #fefbff;
    --surface: #fffbff;
    --surface-variant: #e9e2d0;
    --white: #ffffff;
    --black: #1e1e1e;

    /* Shape */
    --rounded-small: 8px;
    --rounded-medium: 16px;
    --rounded: 50px;

    /* Spacing */
    --space-small: 8px;
    --space-medium: 16px;
}
